/* Top elements css Start */
*{
    margin:0;
    padding:0;
    font-family: "PT Serif", serif
  
}
:root{
    --red-color:rgb(207, 18, 18);
    --green-color:rgba(3, 73, 18, 0.87);
    --wheat-color: #b36237;
    --golden-color:#D0AB6D;
}
body{
    overflow-x: hidden;
    background-color: #f2f1ee;

}
li{
    list-style: none;
    cursor: pointer;
}
/* SECTION CSS STARTS*/
.pd-top{
    padding-top:50px;
}
.pd-bottom{
    padding-bottom:10px;
}
.heading{
    margin-top:0px;
    font-size: 2vw;
    font-weight: bold;
    background: linear-gradient(to right, red, var(--green-color));
    -webkit-background-clip: text;
    color: transparent;
    animation: animate 1s alternate-reverse infinite;
    
}
.content a:hover{
cursor: pointer;
color:var(--green-color) !important;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #f2f1ee;
}
.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding:20px;
    background-color: #f2f1ee;
}

.fa-house{
    font-size: 25px;
    color:var(--wheat-color);
}
.fa-house:hover{
    color:white;
}
i.headicon{
    font-size: 50px;
    margin-top:2rem;
    color:var(--wheat-color);
}




#head{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin:0px;
    padding:10px;
    background-color: whitesmoke;
    background-color: whitesmoke;
}
.logo{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica Neue;
}

.logo .logo-text h4{
    margin-top:0px;
    margin-left:25px;
    font-size: 20px;
    font-weight: bold;
    color:rgba(3, 73, 18, 0.87);

}
.logo-text h1{
    margin-top:10px;
    font-size: 3vw;
    font-weight: bold;
    background: linear-gradient(to right, red, var(--green-color));
    -webkit-background-clip: text;
    color: transparent;
    animation: animate 1s alternate-reverse infinite;
}
@keyframes animate {
    0% {
        background: linear-gradient(to right, var(--green-color), red);
        background-position: 0% 50%;
        -webkit-background-clip: text;
        color: transparent;
    }
    100% {
        background-position: 100% 50%;
    }
}

figure img{
    height:140px;
    width: 140px;
}

#button1{
    margin-top:50px;
    margin-right:20px;
    height:50px;
    padding:5px 10px;
    background-color:var(--wheat-color);
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: all 0.2s ease-in;
}
#button1:hover{
    background-color: var(--green-color);
}
#button2{
    
    right:20px;
    height:40px;
    padding:5px 10px;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.2s ease-in;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),0 2px 4px -2px rgba(33,150,243,.4);
    background-color: var(--wheat-color);
}

#button2:hover{
    background-color: var(--green-color);
}

.nav{
    border-top:1px solid rgba(128, 128, 128, 0.856);
    display: flex;
    justify-content: center;
    margin-top:10px;
    padding:0px !important;
    
}
.nav ul {
    display: flex;
    justify-content:space-evenly; 
    
}
 ul li{
    list-style: none;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 20px;
    font-weight: bold;
    border-left:1px solid rgba(128, 128, 128, 0.767);
    transition: all 0.5s ease-out;
}

li:hover{
background-color: var(--wheat-color);
transition: all 0.5s ease-out;
}
li:hover>a{
    color:white;
    text-decoration: none;
    }

li a {
    color:rgba(3, 73, 18, 0.87);

}





/* SLIDER CSS STARTS */

.carousel, .mgn-minus{
    margin-top:-25px;
    object-fit:fill;
}
.carousel img{
    max-width: 100%;
    max-height: 100%;
   
}



/* CARD SECTION CSS STARTS */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
    background-color: white;
    width: 23%;
    margin:10px;
    height: 370px;
    box-shadow: 0 4px 10px -1px rgba(0,0,0,.5),
    0 2px 4px -2px rgba(0,0,0,.1);
  }
  .card:hover{
    box-shadow: 0 4px 20px -1px rgba(0,0,0,.5),
    0 2px 4px -2px rgba(0,0,0,.1);
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    border: 5px solid var(--golden-color);
    background-color: white;
    box-shadow: 0 5px 5px -3px brown,0 4px 6px -4px brown;
    height: 150px;
    width: 150px;
    border-radius: 75px;

  }
  .top i {
    color:#4D241C;
  }
 
  .top img {
    object-fit:fill;
    height: 150px;
    width: 150px;
    border-radius: 75px;

    
  }
  .top:hover{
    color:white;
    border: 5px solid var(--golden-color);
    background-color:var(--wheat-color);
    cursor: pointer;
  }
  .top:hover i{
    color:white;
  }
  
  .info {
    border: none;
    padding: 1.5rem;
    text-align: center;
  }
  
  .title {
    color: var(--green-color);
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .bottom {
    padding: 0.75rem;
    border: 1px solid rgb(236 239 241);
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 140, 255, 0.082);
  }
  
/*Contact css Starts*/

.contact{
 display:flex;
 justify-content: space-between;
 align-items: center;
}
.form{
   box-shadow: #eaf6ff 0px 10px 20px,
   #eaf6ff 0px 8px 24px,
   #eaf6ff 0px 16px 56px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 30px;
    max-width: 100%;
    width: 100%;
    padding:10px;
}
.form-container .row{
    width: 100%;
    margin:20px;
}
.form-container .row .item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left:10px;
    height: 40px;
    width: 350px;
    box-shadow: var(--golden-color) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
     rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
textarea{
    border: none;
    border-radius: 5px;
    padding-left:10px;
    width: 350px;
    box-shadow: var(--golden-color) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
     rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
#submit{
    position: absolute;
    right: 20px;
    margin-top:10px;
}
.contact-image{
    flex-grow: 1;
}


  /* Team css starts*/


.team-icon{
    color:#b36237;
    margin-top:180px !important;
}

 .team-member{
    margin-top:50px;
    margin-left:300px;
    width: 100%;
    height: 250px;
    
  }
  .card-body{
    width: 850px;
    display: flex;
    flex-direction: column;
    background: white ;
    padding:20px;
    border-radius: 0 100px 100px 0;
    color: #4D241C;
    position: relative;
    border: 5px solid var(--golden-color);
    transition: all 0.2s ease-in;
  }
  .card-body:hover{
    background-color: #4D241C;
    transition: all 0.2s ease-in;
  }
  .card-body:hover .content{
    color: white;
  }
  .card-body:hover i{
    background-color: white;
  }
  .card-body .content{
    margin-left:150px;
    padding-top:10px;
    color: #4D241C;
  }
  .card-body .info:before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 10px;
    left: 100px;
    font-size: 20px;
    color: #D0AB6D;
}

  .card-body .info:after{
    content: "\f10e";
    font-family: fontawesome;
    font-size: 20px;
    color: #D0AB6D;
    position: absolute;
    bottom: 10px;
    right: 80px;
}


.circle-image{
    background-color: var(--wheat-color);
    width: 260px;
    height: 260px;
    line-height: 200px;
    border-radius: 50%;
    border: 14px solid var(--golden-color);
    overflow: hidden;
    position: absolute;
    margin-top:-18px;
    margin-left:-150px;
    z-index: 999;
    cursor: pointer;

  }
  .circle-image figure img{
    height: 235px;
    width: 100%;
    border-radius: 50%;
    transition: all 0.4s ease-in;
  }
  figure:hover img{
    transform: scale(1.1);
    transition: all 0.4s ease-in;
  }

  .social{
    display: flex;
    justify-content: space-evenly;
    margin-left:100px;
    align-items: center;
}
 .social i{
    right:20px;
    margin-left:10px;
    font-size: 35px;
    margin-top:2rem;
    color:#4D241C;
    transition:all 0.2s ease-in;
    border:3px solid transparent;
    cursor: pointer;
}
.social-ftr i{
    right:20px;
    margin-left:15px;
    font-size: 35px;
    color:#4D241C;
    transition:all 0.2s ease-in;
    border:3px solid transparent;
    cursor: pointer;
}
i.fa-facebook:hover{
    color:navy;
    background-color: white;
    border-radius: 50px;
    border:3px solid #D0AB6D;
    transition:all 0.2s ease-in;
}
i.fa-youtube:hover{
    color:var(--red-color);
    background-color: white;
    border-radius: 50px;
    border:3px solid #D0AB6D;
    transition:all 0.2s ease-in;
}
i.fa-instagram:hover{
    color:var(--red-color);
    background-color: white;
    border-radius: 50px;
    border:3px solid #D0AB6D;
    transition:all 0.2s ease-in;
}
i.fa-twitter:hover{
    color:var(--green-color);
    background-color: white;
    border-radius: 50px;
    border:3px solid #D0AB6D;
    transition:all 0.2s ease-in;
}

.team-info{
    display: flex;
    overflow: hidden;
    height: 100%;
}
.card-body .info{
    width:80%;
    font-size: 15px;
    word-spacing: 3px;
}
span{
    display: flex;
    flex-direction: row;
}

/* sponsers css starts*/
.sponsers{
    display: flex;
    justify-content:space-evenly;
}
.sponsers img{
    margin:20px;
    border: 2px solid var(--golden-color);
    transition: all 0.4s ease-in;
}

/* Footer css starts*/

.ftr-section{
   background-color:var(--golden-color);
}
.ftr-top{
    display: flex;
    justify-content: space-between;
    padding:0 70px;
}
.rating{
    background-color: white;
    border-radius:10px;
    border: 5px solid #4D241C;
    padding:5px;
    cursor: pointer;
    background-size: 100% 100%;
}
.rating:hover img{
    mix-blend-mode: difference;
}

.ftr-content{
    display: flex;
    justify-content: center;
    padding:10px;
    width: 100%;
}


.ftr-content .column{
    padding: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}

.qr-code{
    width: 100%;
    cursor: pointer;
}
.qr-code img{
    background-size: 100% 100%;
}


.ftr-content .column li:hover{
    background-color: transparent !important;
    color: #4D241C;
}

.ftr-bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding:10px;
    background-color: var(--wheat-color);
}

.ftr-bottom .content{

    color:white;
    font-size: 15px;
    font-weight: 800;
    
}


#scrollbtn{
    display: none;
    position: fixed;
    right:0px;
    bottom:20px;
    z-index: 9999;
    background-color: #4D241C;
    color: var(--golden-color);
    font-weight: 800;
    height: 70px;
    width:70px;
    padding:5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}


/*ABOUT PAGE CSS STARTS */
.image{
    height: 350px;
    width: 400px;
    background-color: #b36237;
    border-radius: 200px 89px 187px 37px;
    -moz-border-radius: 200px 89px 187px 37px;
    -webkit-border-radius: 200px 89px 187px 37px;
    z-index: 999;
   
}

.image::before{
    position: absolute;
    content:"";
    background-image:url('../assets/team/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20px;
    height: 350px;
    width: 350px;
    background-color: #4D241C;
    border-radius: 200px 89px 187px 37px;
    -moz-border-radius: 200px 89px 187px 37px;
    -webkit-border-radius: 200px 89px 187px 37px;
    border: 5px solid #000000;
    z-index: 1;
}

.abouttxt{
    padding: 50px;
    justify-content: justify;
    font-size: 16px;
}









  


